{% extends "bootstrap/base.html" %}



{% block title %}
    关于我
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/about_me.css">
    <style type="text/css">
        h1 {
            font-size: 50px;
        }

        h2 {
            font-size: 40px;
        }

        h3 {
            font-size: 30px;
        }

        h4 {
            font-size: 20px;
        }

        p {
            font-size: 15px;
        }

        blockquote p {
            font-size: 17px;
        }

        body {
            font-size: 15px;
        }
    </style>
{% endblock head %}

{% block body %}

    <body style="background-color: #EEE">
    <div class="container-fluid">
        <div class="col-md-offset-2 ">
            <div class="row ">
                <article class="col-md-8  article the-font"
                         style="margin :50px auto 50px auto;background-color:#FFF;box-shadow: rgb(167, 163, 163) 5px 5px 20px;">
                    {# width:61.8% ; #}
                    <div style="padding-left: 0px">
                        <div>
                            <h3>个人信息：</h3>
                            <hr>
                            <ul>
                                <li>姓名：王胜广</li>
                                <li>年龄：22</li>
                                <li>居住地：北京</li>
                                <li>学历：应届毕业生</li>

                            </ul>
                            <h3>联系方式：</h3>
                            <hr>
                            <ul>
                                <li>EMAIL:<a href="#">MrWangShengguang@gmail.com</a></li>

                                <li>QQ:1085092799</li>

                            </ul>
                            <h3>个人代码库：</h3>
                            <hr>
                            <ul>
                                <li>GITHUB:<a
                                        href="https://github.com/WangShengguang">https://github.com/WangShengguang</a>
                                </li>
                                <li>该网站源代码：<a href="https://github.com/WangShengguang/myblog">https://github.com/WangShengguang/myblog</a>
                                </li>
                            </ul>
                            <h3>已学过的：</h3>
                            <hr>
                            <ul>
                                <li>Flask框架、MVC模式开发；</li>
                                <li>TCP/IP协议、http协议；</li>
                                <li>vim、linux、git；</li>
                                <li>Python、C语言；</li>
                                <li>简单Bootstrap，HTML，CSS；</li>
                                <li>操作系统、计算机组成原理、计算机网络、汇编语言等</li>
                            </ul>

                            <h3></h3>
                            <hr>
                            <blockquote>
                                <p>这种生活模式给人以安详亲切之感。</p>
                                <p>它使人想到一条平静的小河，</p>
                                <p>蜿蜒流过绿茸茸的牧场，</p>
                                <p>与郁郁的树荫交相掩映，</p>
                                <p>直到最后泻入烟波浩渺的大海中。</p>
                                <p>但是大海却总是那么平静，</p>
                                <p>总是沉默无言、声色不动，</p>
                                <p> 你会突然感觉到莫名的不安。</p>
                                <p>也许这只是我自己的一种怪想法，</p>
                                <p> 我总觉得大多数人这样度过一生好像欠缺了点什么。</p>
                                <p>我承认这种生活的社会价值，</p>
                                <p>我也看到了它井然有序的幸福，</p>
                                <p> 但是我的血液里却有一种强烈的愿望，</p>
                                <p> 渴望一种更狂放不羁的旅途。</p>
                                <p> 这种安详宁静的快乐好像有一种叫我惊恐不安的东西，</p>
                                <p> 我的心渴望一种更加惊险的生活。</p>
                                <p> 只要在我的生活中能有变迁——变迁和无法预见的刺激，</p>
                                <p> 我是准备踏上怪石嶙峋的山崖，</p>
                                <p> 奔赴暗礁满布的海滩的。</p>
                                <p class="text-right"><em>——毛姆 《The Moon and Sixpence》</em></p>
                            </blockquote>
                            <hr>
                            {# 应聘Python后端-王胜广#}
                            <h4>下载简历：</h4> <a href="/static/my_resume.pdf" download="王胜广-男-中国地质大学（北京)-应届生 ">下载</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    </body>

{% endblock body %}