<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.title.label }} {{ form.title(class="form-control " ,rows='1') }}
    </div>
    <br>
    <div>
        {{ form.tag_id.label }} {{ form.tag_id() }}
    </div>
    <br>
    {#            <div class=" form-inline">#}
    {#                {{ form.category.label()}}{{ form.category(class='list-unstyled list-inline') }}#}
    {#            </div>#}
    <div>
        {{ form.body.label }} {{ form.body(type='textarea',class="form-control " ,rows='10') }}
    </div>
    {{ form.submit(class='btn btn-default') }}
</form>


{#<form>#}
{#    <div>#}
{#        <label>标题</label>#}
{#        <input name="title" type="text" class="form-control" placeholder="文章标题">#}
{#    </div>#}
{#    <br>#}
{#    <div>#}
{#        <b>标签：</b>#}
{#        <label class="checkbox-inline">#}
{#            <input type="checkbox" value="Python" name="category">Python#}
{#        </label>#}
{#        <label class="checkbox-inline">#}
{#            <input type="checkbox" value="Flask" name="category">Flask#}
{#        </label>#}
{#        <label class="checkbox-inline">#}
{#            <input type="checkbox" value="MySQL" name="category">MySQL#}
{#        </label>#}
{#        <label class="checkbox-inline">#}
{#            <input type="checkbox" value="Essay">随笔#}
{#        </label>#}
{#    </div>#}
{#    <br>#}
{#    <div>#}
{#        <label>正文</label>#}
{#        <textarea name="body" rows="20" cols="50" class="form-control" wrap="physical" placeholder="正文"></textarea>#}
{#    </div>#}
{#    <br>#}
{#    <div>#}
{#        <label></label>#}
{#        <input type="submit" value="提交" class="btn btn-default">#}
{#    </div>#}
{#</form>#}
